In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import pandas as pd
from collections import Counter

In [ ]:
folder_path = '/content/drive/MyDrive/fMRIwork/'

In [ ]:
word_counter = Counter()

In [ ]:
for filename in os.listdir(folder_path):
    if filename.endswith(".tsv"):
        file_path = os.path.join(folder_path, filename)
        try:
            df = pd.read_csv(file_path, sep='\t')
            if 'word' in df.columns:
                words = df['word'].dropna().astype(str).str.lower()
                word_counter.update(words)
        except Exception as e:
            print(f"Error reading {filename}: {e}")

In [ ]:
vocab_df = pd.DataFrame(word_counter.items(), columns=['word', 'count']).sort_values(by='count', ascending=False)
print(vocab_df.head(20),vocab_df.tail(20))

          word  count
10         the   3388
2            a   2871
151        i'm   2248
7           to   1956
5          and   1714
3002  southern   1433
3009    woman.   1429
950          .   1232
183        she    963
176          i    937
123         go    883
3010     music    877
18          of    739
12         was    703
860       then    692
610         we    621
4176    beach.    572
71        with    549
161        you    515
36        that    475                    word  count
680               wacky      1
678          swallowing      1
675             vending      1
674               leapt      1
4189               womb      1
4188            managed      1
4187       accomplished      1
4186            lecture      1
4185         optimistic      1
4204                me!      1
4203            rachel!      1
4202              proud      1
4201  enthusiastically,      1
4200              mood,      1
4199             elated      1
4198            singer.      1
4197            singer,      1
4196              song,      1
4195               pick      1
4194              idol,      1

In [ ]:
vocab_df.to_csv('stimuli_vocab_count.csv', index=False)

In [ ]:
len(vocab_df)

4218

In [ ]:
less_than_5 = vocab_df[vocab_df['count'] <= 5]
len(less_than_5)

3666